<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default profile">
      <div class="panel-body">
        <h2>Profile Info</h2>
        <p>Name: <%= current_user.name %></p>
        <p>Username: <%= current_user.screen_name %></p>
      </div>
    </div>
  </div>
</div>
