<footer class="footer">
  <div class="row">
    <div class="col-md-4">
      <h5>About</h5>
      <p>About Mary Jane</p>
    </div>
    <div class="col-md-4">
      <h5>Discover</h5>
      <p>...</p>
    </div>
    <div class="col-md-4">
      <h5>For Business Owners</h5>
      <p>Claim Your Business</p>
    </div>
</footer>
