

body {
  background-image: image-url("background.jpg");

  height: 45rem;
  background-size: cover;
}

.panel {
  border: 0px solid transparent;
  background-color:transparent;
}

.navbar {
  min-height: 50px;
}

.navbar-default {
  background-image: linear-gradient(to bottom, #000 0%, #3d3d3d 100%);
  border-color: #3d3d3d;
}

.navbar-default .navbar-nav > li > a {
    color: #DDD;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ff0000;
  background-color: transparent;
}

.navbar-nav li {
max-width: 150px;
}

.navbar-nav a {
height: 50px;
line-height: 20px;
white-space: normal;
align-items: center;
}

.navbar-nav > li > a {
    padding-top: 20px;
}

.navbar-brand {
  float: left;
  padding: 0px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 54px;
}

.divider-vertical {
height: 20px;
margin: 18px 9px 0px 9px;
border-left: 1px solid #c6c6c6;
border-right: 1px solid #FFF;
}

.jumbotron {
background-color: #3d3d3d;
background-size: cover;
min-height: 300px;
padding: 10px
}

.intro {
  padding-top: 20px;
  padding-bottom: 20px;
}

.start {
  padding-top: 20px;
  padding-left: 70px
}

.jumbotron h2{
color: white;
font-family: 'Roboto Condensed', sans-serif;
}

.jumbotron p{
color: white;
font-family: 'Roboto Condensed', sans-serif;
}

.thumbnail > img {
    width: 250px;
    height: 250px;
}

.category_card {
  height: 400px;
  // overflow: scroll;
}

.btn-danger {
  color: #ffffff;
  background-color: #ff0000;
  border-color: #d4004b;
}
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff;
  background-color: #9e0202;
  border-color: #54001e;
}
.btn-danger:hover {
  color: #ffffff;
  background-color: #9e0202;
  border-color: #960035;
}

.hide {
  display: none;
}

.error h4{
  color: red;
  padding-left: 20px;
  margin-bottom: -10px;
}

// .thumbnail.right-caption > img {
//     float: left;
//     margin-right: 9px;
// }
//
// .thumbnail.right-caption {
//     float: left;
//    min-height: 220px !important;
// }
//
// .thumbnail.right-caption > .caption {
//     padding: 4px;
// }

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;
}*/
.footer {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 110px;
  background-color: #f5f5f5;
}

.footer .row {
    margin-left: 0px;
    margin-right: -15px;
}


/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

h1, .h1 {
    font-size: 36px;
    padding-left: 20px;
}

.event-card img {
  vertical-align: middle;
  margin-left: 20px;
}

.form-style-8{
    // font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 0px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
    background: #4D4D4D;
    text-transform: uppercase;
    // font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 20px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"],
.form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #9e0202;
    -webkit-box-shadow: inset 0px 1px 0px 0px #9e0202;
    box-shadow: inset 0px 1px 0px 0px #9e0202;
    background-color: #ff0000;
    border: 1px solid #d4004b;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    // font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 5px;
    margin-left: 125px;
}
.form-style-8 input[type="button"]:hover,
.form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #9e0202 5%, #ff0000 100%);
    background-color:#34CACA;
    margin-top: 5px;
    margin-left: 125px;
}
