

body {
  background-image: image-url("background.jpg");

  height: 45rem;
  background-size: cover;
}

.navbar {
  min-height: 75px;
}

.navbar-nav li {
max-width: 150px;
}

.navbar-nav a {
height: 90px;
line-height: 20px;
white-space: normal;
align-items: center;
}

.navbar-nav > li > a {
    padding-top: 20px;
}

.navbar-brand {
  float: left;
  padding: 0px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 75px;
}

.divider-vertical {
height: 50px;
margin: 20px 9px;
border-left: 1px solid #c6c6c6;
border-right: 1px solid #FFF;
}

.jumbotron {
background-color: #3bc3f3;
background-size: cover;
min-height: 300px;
padding: 0px
}

.jumbotron h1{
color: white;
font-family: 'Lobster', cursive;
}

.thumbnail > img {
    width: 250px;
    height: 250px;
}

.category_card {
  height: 500px !important;
  // overflow: scroll;
}

// .thumbnail.right-caption > img {
//     float: left;
//     margin-right: 9px;
// }
//
// .thumbnail.right-caption {
//     float: left;
//    min-height: 220px !important;
// }
//
// .thumbnail.right-caption > .caption {
//     padding: 4px;
// }

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;
}*/
.footer {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 110px;
  background-color: #f5f5f5;
}

.footer .row {
    margin-left: 0px;
    margin-right: -15px;
}
