  <!-- '<div class="event-card"><img src='
  + location["logo"]["url"]
  + '<div class="caption"><h5>Event:</h5><h4>'
  +  response["name"]["text"]
  + '</h4><p><a href="/'
  + response["id"]
  + '?category=Event'
  + '" class = "btn btn-primary btn-xs"></div></div>' -->
