<ul>
<% @locations.each do |category, location| %>
  <li>
    <% if category == :Event %>
        <%= "Event: " %><%= location["name"]["text"] %></li>
    <% else %>
      <%= "#{category}: " %><%= location.name %></li>
    <% end %>
<% end %>
</ul>
