<h2>Search Results</h2>
<div class="row">
  <% @locations.each_with_index do |(category, location), index| %>
  <%= render partial: "category_card", locals: {category: category, location: location} %>
  <% end %>
</div>
